{% extends 'main.html' %}

{% block contant %}

{% if page == 'login' %}
<div>

    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Name" />
        
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password" />
        
        <input type="submit" value="login" />

    </form>
    <p>craete a new account</p>
    <a href="{% url 'register'%}">Sign Up</a>
</div>
{% else %}
<div>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="register" />

    </form>

    <p>alredy you haveaccount</p>
    <a href="{% url 'login'%}">Sign In</a>
</div>
{% endif %}

{% endblock contant %}